# 1.Import Necessary Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## 2.Import Data

In [5]:
movie = pd.read_csv('Movie.csv')
movie.head(5)

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

## 3.Data Understanding

In [7]:
movie.shape

(8992, 3)

In [8]:
movie.isna().sum()

userId    0
movie     0
rating    0
dtype: int64

In [9]:
movie.describe()

            userId       rating
count  8992.000000  8992.000000
mean   3521.880116     3.557162
std    2012.497384     0.967071
min       1.000000     0.500000
25%    1779.000000     3.000000
50%    3530.000000     3.500000
75%    5213.250000     4.000000
max    7120.000000     5.000000

In [10]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8992 entries, 0 to 8991
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   userId  8992 non-null   int64
 1   movie   8992 non-null   object
 2   rating  8992 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 210.9+ KB

In [11]:
movie.dtypes

userId      int64
movie      object
rating    float64
dtype: object

In [12]:
movie['userId'].nunique()

4081

In [13]:
movie['userId'].unique()

array([   3,    6,    8, ..., 7080, 7087, 7105], dtype=int64)

In [14]:
movie['movie'].nunique()

10

In [15]:
movie['movie'].unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'Tom and Huck (1995)',
       'Sudden Death (1995)', 'GoldenEye (1995)'], dtype=object)

In [16]:
movie['movie'].value_counts()

Toy Story (1995)                      2569
GoldenEye (1995)                      1548
Heat (1995)                           1260
Jumanji (1995)                        1155
Sabrina (1995)                         700
Grumpier Old Men (1995)                685
Father of the Bride Part II (1995)     657
Sudden Death (1995)                    202
Waiting to Exhale (1995)               138
Tom and Huck (1995)                     78
Name: movie, dtype: int64

### UBCF (User Based Collaborative Filtering)
- User-Based Collaborative Filtering is a technique used to predict the items that a user might like on the basis of ratings given to that item by the other users who have similar taste with that of the target user.

### Metrics 1: Correlation Matrix

In [24]:
ubcf_data = pd.pivot_table(data=movie,values='rating',index='movie',columns='userId').fillna(0)
ubcf_data.columns = movie['userId'].unique()
ubcf_data

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
movie,,,,,,,,,,,,,,,,,,,,,
Father of the Bride Part II (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,3.5,0.0,0.0,0.0
GoldenEye (1995),0.0,0.0,0.0,4.0,0.0,0.0,0.0,4.0,0.0,2.5,...,2.0,0.0,0.0,0.0,3.0,0.0,0.0,3.0,0.0,0.0
Grumpier Old Men (1995),0.0,4.0,0.0,0.0,0.0,3.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0
Heat (1995),0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,0.0
Jumanji (1995),3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,4.0
Sabrina (1995),0.0,0.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0
Sudden Death (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Tom and Huck (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Toy Story (1995),0.0,0.0,4.0,0.0,0.0,5.0,0.0,4.0,4.0,4.5,...,0.0,4.0,0.0,4.0,0.0,0.0,4.0,4.0,5.0,4.5
Waiting to Exhale (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
ubcf_data.corr().round(2)

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.00,-0.11,-0.11,-0.16,1.00,-0.21,-0.17,-0.27,-0.11,-0.16,...,-0.11,-0.11,1.00,0.67,-0.17,-0.11,-0.17,-0.35,-0.11,0.48
6,-0.11,1.00,-0.11,-0.16,-0.11,0.28,0.67,0.56,-0.11,-0.16,...,-0.11,-0.11,-0.11,-0.17,-0.17,-0.11,-0.17,0.35,-0.11,-0.22
8,-0.11,-0.11,1.00,-0.16,-0.11,0.60,-0.17,0.40,1.00,0.86,...,-0.11,1.00,-0.11,0.67,-0.17,-0.11,0.72,0.35,1.00,0.57
10,-0.16,-0.16,-0.16,1.00,-0.16,-0.31,-0.25,0.48,-0.16,0.24,...,0.78,-0.16,-0.16,-0.25,0.99,-0.16,-0.25,0.48,-0.16,-0.32
11,1.00,-0.11,-0.11,-0.16,1.00,-0.21,-0.17,-0.27,-0.11,-0.16,...,-0.11,-0.11,1.00,0.67,-0.17,-0.11,-0.17,-0.35,-0.11,0.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,-0.11,-0.11,-0.11,-0.16,-0.11,-0.21,-0.17,-0.27,-0.11,-0.16,...,-0.11,-0.11,-0.11,-0.17,-0.17,1.00,0.61,-0.35,-0.11,-0.22
7070,-0.17,-0.17,0.72,-0.25,-0.17,0.33,-0.25,0.13,0.72,0.58,...,-0.17,0.72,-0.17,0.42,-0.25,0.61,1.00,0.04,0.72,0.30
7080,-0.35,0.35,0.35,0.48,-0.35,0.54,0.40,0.81,0.35,0.41,...,0.18,0.35,-0.35,0.00,0.53,-0.35,0.04,1.00,0.35,0.14
7087,-0.11,-0.11,1.00,-0.16,-0.11,0.60,-0.17,0.40,1.00,0.86,...,-0.11,1.00,-0.11,0.67,-0.17,-0.11,0.72,0.35,1.00,0.57
7105,0.48,-0.22,0.57,-0.32,0.48,0.67,0.20,-0.05,0.57,0.41,...,-0.22,0.57,0.48,0.78,-0.33,-0.22,0.30,0.14,0.57,1.00

In [30]:
movie[movie['userId'] == 8]

      userId                    movie  rating
2          8         Toy Story (1995)     4.0
3727       8  Grumpier Old Men (1995)     5.0
5205       8              Heat (1995)     3.0
7445       8         GoldenEye (1995)     4.0

In [31]:
movie[movie['userId'] == 16]

      userId             movie  rating
8         16  Toy Story (1995)     3.0
5207      16       Heat (1995)     3.0

In [32]:
movie[movie['userId'] == 6979]

      userId             movie  rating
8963    6979  GoldenEye (1995)     4.0

In [34]:
movie[movie['userId'] == 7087]

      userId             movie  rating
8987    7087  GoldenEye (1995)     3.0

In [50]:
movie[(movie['userId'] == 8) |(movie['userId'] == 16) | (movie['userId'] == 6979) | (movie['userId'] == 7087)]

      userId                    movie  rating
2          8         Toy Story (1995)     4.0
8         16         Toy Story (1995)     3.0
3727       8  Grumpier Old Men (1995)     5.0
5205       8              Heat (1995)     3.0
5207      16              Heat (1995)     3.0
7445       8         GoldenEye (1995)     4.0
8963    6979         GoldenEye (1995)     4.0
8987    7087         GoldenEye (1995)     3.0

## Metric 2: Euclideon Distance

In [44]:
from sklearn.metrics import pairwise_distances

In [43]:
ubcf_euc = pd.pivot_table(data=movie,values='rating',index='userId',columns='movie').fillna(0)
ubcf_euc.index = movie['userId'].unique()
ubcf_euc

movie,Father of the Bride Part II (1995),GoldenEye (1995),Grumpier Old Men (1995),Heat (1995),Jumanji (1995),Sabrina (1995),Sudden Death (1995),Tom and Huck (1995),Toy Story (1995),Waiting to Exhale (1995)
3,0.0,0.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
10,0.0,4.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
7044,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7070,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
7080,0.0,3.0,4.0,5.0,0.0,3.0,1.0,0.0,4.0,0.0
7087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
7105,0.0,0.0,0.0,0.0,4.0,4.0,0.0,0.0,4.5,0.0

In [49]:
euc_dis = pd.DataFrame(data=pairwise_distances(X=ubcf_euc,Y=None,metric='euclidean')).round(2)
euc_dis.index = movie['userId'].unique()
euc_dis.columns = movie['userId'].unique()
euc_dis

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,0.00,5.32,5.32,6.10,0.50,8.44,5.50,8.85,5.32,6.22,...,4.03,5.32,1.50,4.03,5.50,5.32,6.36,9.39,6.10,6.04
6,5.32,0.00,5.66,6.40,5.00,7.14,3.16,6.48,5.66,6.52,...,4.47,5.66,4.47,6.93,5.83,5.66,6.65,7.75,6.40,8.26
8,5.32,5.66,0.00,6.40,5.00,5.92,5.83,7.07,0.00,2.55,...,4.47,0.00,4.47,4.00,5.83,5.66,3.50,7.75,1.00,5.68
10,6.10,6.40,6.40,0.00,5.83,9.17,6.56,6.40,6.40,5.61,...,3.61,6.40,5.39,7.55,1.00,6.40,7.30,6.86,7.07,8.79
11,0.50,5.00,5.00,5.83,0.00,8.25,5.20,8.66,5.00,5.96,...,3.61,5.00,1.00,4.12,5.20,5.00,6.10,9.22,5.83,6.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,5.32,5.66,5.66,6.40,5.00,8.66,5.83,9.06,5.66,6.52,...,4.47,5.66,4.47,6.93,5.83,0.00,4.03,9.59,6.40,8.26
7070,6.36,6.65,3.50,7.30,6.10,6.87,6.80,7.89,3.50,4.33,...,5.68,3.50,5.68,5.32,6.80,4.03,0.00,8.50,3.64,6.67
7080,9.39,7.75,7.75,6.86,9.22,6.40,7.21,4.00,7.75,7.18,...,8.25,7.75,8.94,8.72,6.78,9.59,8.50,0.00,7.81,8.26
7087,6.10,6.40,1.00,7.07,5.83,5.83,6.56,7.14,1.00,2.55,...,5.39,1.00,5.39,4.12,6.56,6.40,3.64,7.81,0.00,5.68
7105,6.04,8.26,5.68,8.79,6.10,5.12,6.80,9.07,5.68,6.18,...,7.50,5.68,6.34,4.03,8.38,8.26,6.67,8.26,5.68,0.00

In [ ]:
movie[(movie['userId'] == 8) |(movie['userId'] == 16) | (movie['userId'] == 6979) | (movie['userId'] == 7087)]

### Metric 3 : Cosine Distance

In [52]:
pairwise_distances(X=ubcf_euc,Y=None, metric='cosine')

array([[0.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        1.00000000e+00, 1.00000000e+00, 4.46628429e-01],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, ...,
        5.41168532e-01, 1.00000000e+00, 1.00000000e+00],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        5.41168532e-01, 0.00000000e+00, 3.77456983e-01],
       ...,
       [1.00000000e+00, 5.41168532e-01, 5.41168532e-01, ...,
        1.11022302e-16, 5.41168532e-01, 5.23929456e-01],
       [1.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        5.41168532e-01, 0.00000000e+00, 3.77456983e-01],
       [4.46628429e-01, 1.00000000e+00, 3.77456983e-01, ...,
        5.23929456e-01, 3.77456983e-01, 1.11022302e-16]])

In [55]:
cos_euc = pd.DataFrame(data=1-pairwise_distances(X=ubcf_euc,Y=None,metric='cosine')).round(2)
cos_euc.index = movie['userId'].unique()
cos_euc.columns = movie['userId'].unique()
cos_euc

,3,6,8,10,11,12,13,14,16,19,...,6975,6979,6993,7030,7031,7044,7070,7080,7087,7105
3,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.71,0.00,0.00,0.00,0.00,0.00,0.55
6,0.00,1.00,0.00,0.00,0.00,0.39,0.71,0.62,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.46,0.00,0.00
8,0.00,0.00,1.00,0.00,0.00,0.65,0.00,0.49,1.00,0.87,...,0.00,1.00,0.00,0.71,0.00,0.00,0.75,0.46,1.00,0.62
10,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.62,0.00,0.39,...,0.80,0.00,0.00,0.00,0.99,0.00,0.00,0.62,0.00,0.00
11,1.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,1.00,0.71,0.00,0.00,0.00,0.00,0.00,0.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,1.00,0.66,0.00,0.00,0.00
7070,0.00,0.00,0.75,0.00,0.00,0.49,0.00,0.37,0.75,0.66,...,0.00,0.75,0.00,0.53,0.00,0.66,1.00,0.35,0.75,0.47
7080,0.00,0.46,0.46,0.62,0.00,0.70,0.57,0.89,0.46,0.57,...,0.34,0.46,0.00,0.32,0.65,0.00,0.35,1.00,0.46,0.48
7087,0.00,0.00,1.00,0.00,0.00,0.65,0.00,0.49,1.00,0.87,...,0.00,1.00,0.00,0.71,0.00,0.00,0.75,0.46,1.00,0.62
7105,0.55,0.00,0.62,0.00,0.55,0.77,0.39,0.31,0.62,0.54,...,0.00,0.62,0.55,0.83,0.00,0.00,0.47,0.48,0.62,1.00